{{> menu}}

<section class="section columns is vcentered">
  <div class="column is-9 has-text-centered">
    <div class="title">
      Your {{craft.title}} Spot List
    </div>
    {{> list-spots}}
    {{> add-spot}}
  </div>
  <div class="column">
    <div class="title">
    {{craft.title}}
    </div>
    {{> craft-image }}
  </div>
</section>
