{{> welcome-menu}}

<div class="columns is-vcentered ">
  <figure class="image">
        <img class="is-rounded" src="/images/craftSupplies.jpg">
  </figure>
  <div class="column is-right">
  <h1 class="title has-text-right">Please sign up or log in...</h1>
</div>
  </div>
