<form action="/dashboard/addcraft" method="POST">
  <div class="field has-background-success-light">
    <label class="label">Craft Name</label> <input class="input" type="text" placeholder="Enter craft name" name="title">
  </div>
  <button class="button is-link">Add Craft</button>
</form>