<form action="/dashboard/addcraft" method="POST">
  <div class="field has-background-warning-light">
    <label class="label">Craft Name</label>
    <input class="input" type="text" placeholder="Enter craft name" name="title" />
  </div>
  <button class="button is-link is-warning">Add Craft</button>
</form>