{{#each crafts}}
  <div class="box box-link-hover-shadow has-background-warning-light">
    <h2 class="title">
      {{title}}
    </h2>
    <a href="/craft/{{_id}}" class="button">
      <span class="icon is-small">
        <i class="fas fa-folder-open"></i>
      </span>
    </a>
    <a href="/dashboard/deletecraft/{{_id}}" class="button">
      <span class="icon-is-small">
        <i class="fas fa-trash"></i>
      </span>
    </a>
  </div>
{{/each}}